@model IEnumerable<QUICKIFYRepository.Equipo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lastProyect = "";
}
@using QUICKIFYRepository;

<h3><strong>Proyectos</strong></h3>
<hr />
<p>
    @Html.ActionLink("Crear Proyecto", "Create", null, new { @class = "btn btn-primary" })
</p>


@foreach (var item in Model)
{

    <table class="table">

        @if (SI657_Entities.getInstance().Proyecto.Find(item.Proyecto_Id).Nombre != lastProyect)
        {
            <br />
            <tr>
                <th style="background-color: #7b787d; color:white;">@Html.DisplayFor(modelItem => SI657_Entities.getInstance().Proyecto.Find(item.Proyecto_Id).Nombre)</th>
            </tr>


        }
        <tr>
            <td style="color:black;">
                <strong>@Html.DisplayFor(modelItem => SI657_Entities.getInstance().Usuario.Find(item.Usuario_Id).Cargo.Nombre)</strong>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.DisplayFor(modelItem => SI657_Entities.getInstance().Usuario.Find(item.Usuario_Id).Nombre)
            </td>

        </tr>
    </table>


    lastProyect = SI657_Entities.getInstance().Proyecto.Find(item.Proyecto_Id).Nombre;
}

<br />
<br />


