@model IEnumerable<QUICKIFYRepository.Proyecto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Welcome.cshtml";

}

@using QUICKIFYRepository;

<h3 style="color: black;"><strong>Proyectos</strong></h3>
<br />
<p>
    @Html.ActionLink("Crear Proyecto", "Create", null, new { @class = "btn btn-primary" , @id = "btn_Proyect_Crear" })
</p>

<br />
<br />


<table style="color:black;"class="table">

    <tr>
        <th>
            <i class="fas fa-folder-open fa-sm fa-fw mr-2 text-gray-600"></i>
            &nbsp; &nbsp;&nbsp; Nombre del Proyecto
        </th>
        <th>
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-600"></i>
            &nbsp; &nbsp;&nbsp;Lider del Proyecto
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <i class="fas fa-folder-open fa-sm fa-fw mr-2 text-gray-500"></i>
                &nbsp; &nbsp;&nbsp;
                @Html.DisplayFor(modelItem => SI657_Entities.getInstance().Proyecto.Find(item.Id).Nombre)

            </td>
            <td>
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-500"></i>
                &nbsp; &nbsp;&nbsp;
                @Html.DisplayFor(modelItem => SI657_Entities.getInstance().Usuario.Find(SI657_Entities.getInstance().Equipo.Where(x => x.Proyecto_Id == item.Id).FirstOrDefault<Equipo>().Usuario_Id).Nombre)
                @Html.ActionLink("Abrir Proyecto", "PassKanban", new { name = SI657_Entities.getInstance().Proyecto.Find(item.Id).Nombre }, new { @class = "btn btn-primary", @style = "float: right;" })
            </td>
        </tr>
    }
</table>

<br />
<br />


