@model IEnumerable<QUICKIFYRepository.Proyects>

@using QUICKIFYRepository;
@using WebApp_QUICKIFY.Controllers;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Welcome.cshtml";

    SI657_Entities db = new SI657_Entities();
}




<h3 style="color: black;"><strong>Proyectos</strong></h3>
<br />
<p>
    @Html.ActionLink("Crear Proyecto", "Create", null, new { @class = "btn btn-primary", @id = "btn_Proyect_Crear" })
</p>

<br />
<br />


<table style="color:black;" class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                <i class="fas fa-folder-open fa-sm fa-fw mr-2 text-gray-600"></i>
                &nbsp; &nbsp;&nbsp; Proyecto
            </th>
            <th scope="col">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-600"></i>
                &nbsp; &nbsp;&nbsp;Cargo
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    <i class="fas fa-folder-open fa-sm fa-fw mr-2 text-gray-500"></i>
                    &nbsp; &nbsp;&nbsp;
                    @Html.DisplayFor(modelItem => db.Proyects.Find(item.Id).Name)

                </th>
                <td>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-500"></i>
                    &nbsp; &nbsp;&nbsp;
                    @Html.DisplayFor(modelItem => db.Proyects.Find(item.Id).Team.Where(s => s.Users.Email == AuthController.Static_Email).FirstOrDefault().Role.Name)
                    @Html.ActionLink("Abrir Proyecto", "PassKanban", new { name = db.Proyects.Find(item.Id).Name }, new { @class = "btn btn-primary", @style = "float: right;" })
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<br />

