

@{
    ViewBag.Title = "Kanban";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
    <div class="container-fluid">
        <div class="page-header-content">

            <h1 class="page-header-title">
                <div class="page-header-icon"><i data-feather="trello"></i></div>
                <span>Tablero Kanban</span>
            </h1>
            <div class="page-header-subtitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @DateTime.Now.ToString("dddd, dd MMMM yyyy")</div>
            <br />
            <br />
            @using (Html.BeginForm())
            {
        <div class="row">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col-sm-3">
                @Html.DropDownList("Sprint", null, htmlAttributes: new { @class = "form-control", @style = "color: black;" })

            </div>
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-orange btn-icon"><i class="fas fa-search"></i></button>
        </div>

            }

        </div>
            </div>
</div>
